body{
    background:#f0f4f8;
    font-family:'Poppins', sans-serif;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 60px;
    background:rgb(150, 140, 140);
    box-shadow:0 2px 10px rgba(0,0,0,0.05);
    border-radius: 50px;
}

nav .logo{
    font-weight:bold;
    font-size:24px;
    color:#4f46e5;
}

nav ul.menu{
    list-style:none;
    display:flex;
    gap:25px;
}

nav ul.menu a{
    text-decoration:none;
    color:#333;
}

.container{
    padding:80px 60px;
}

h2{
    font-size:32px;
    margin-bottom:30px;
    text-align:center;
}

.cart-item{
    background:white;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:20px;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,0.05);
    margin-bottom:20px;
}

.cart-item img{
    width:120px;
    border-radius:10px;
}

.cart-item div{
    flex:1;
    margin-left:20px;
}

.cart-item button{
    padding:8px 15px;
    background:#ef4444;
    border:none;
    color:white;
    border-radius:8px;
    cursor:pointer;
    transition:0.3s;
}

.cart-item button:hover{
    opacity:0.8;
}

button.checkout{
    display:block;
    margin:30px auto 0;
    padding:15px 30px;
    background:#4f46e5;
    color:white;
    border:none;
    border-radius:10px;
    font-weight:bold;
}
